<div class="container">
	<h1>Create transaction</h1>
	<p>Transfer some product to someone!</p>

	<br>

	<div class="form-group">
	    <label for="fromAddress">Sender Id</label>
	    <input type="text" class="form-control" id="fromAddress" aria-describedby="fromAddressHelp" [(ngModel)]="this.senderid" >
			<small id="fromAddressHelp" class="form-text text-muted">
					This is the id of the sender.
	    </small>
  	</div>

  	<div class="form-group">
	    <label for="participantId">Receiver Id</label>
	    <input type="text" class="form-control" id="participantId" aria-describedby="participantIdHelp" [(ngModel)]="this.receiverid" >
	    <small id="participantIdHelp" class="form-text text-muted">
	    	The id of the reciever where you want to send the product to. 
	    </small>
    </div>
    

  	<div class="form-group">
	    <label for="productId">Product Id</label>
	    <input type="productId" class="form-control" id="productId" aria-describedby="productIdHelp" [(ngModel)]="newTx.productId">
	    <small id="productIdHelp" class="form-text text-muted">
      This is the product you want to transfer!  
      </small>
  	</div>

  	<div class="form-group">
	    <label for="productWeight">Product Weight</label>
	    <input type="productWeight" class="form-control" id="productWeight" aria-describedby="productWeightHelp" [(ngModel)]="newTx.productWeight">
	    <small id="productWeightHelp" class="form-text text-muted">
				This is the amount of the product you want to transfer!  
			</small>
    </div>
    
    <div class="form-group">
	    <label for="transactionLocation">Transaction Location</label>
	    <input type="transactionLocation" class="form-control" id="transactionLocation" aria-describedby="transactionLocationHelp" [(ngModel)]="newTx.transactionLocation">
	    <small id="transactionLocationHelp" class="form-text text-muted">
	    	This is your current location!
	    </small>
		</div>
		
		<div class="form-group">
	    <label for="transactionStatus">Transaction Confirmation</label>
	    <input type="transactionStatus" class="form-control" id="transactionStatus" aria-describedby="transactionStatusHelp" [(ngModel)]="newTx.status">
	    <small id="transactionStatusHelp" class="form-text text-muted">
	    	This is the status of your transaction!
	    </small>
		</div>
		<!--
		<div class="form-group">
	    <label for="Transaction">Number of Pending Transactions</label>
	    <input type="text" class="form-control" id="Transaction" aria-describedby="participantIdHelp" [(ngModel)]="this.blockchainService.blockchainInstance.pendingTransactions.length" disabled>
	    <small id="TrasnsactionHelp" class="form-text text-muted">
					This is the number of pending transaction(s)!
			</small>
		</div>
		-->
		<div class="form-inline">
			<div class="form-group">
				<label for="Transaction">Number of Pending Transactions</label>
				<input type="text" class="form-control" id="Transaction" aria-describedby="participantIdHelp" [(ngModel)]="this.blockchainService.blockchainInstance.pendingTransactions.length" disabled>
				<!--<small id="TrasnsactionHelp" class="form-text text-muted">
						This is the number of pending transaction(s)!
				</small>-->
			</div>
				&nbsp;				&nbsp;
			<div class="form-group">
				<label for="Transaction">Number of Users</label>
				<input type="text" class="form-control" id="Transaction" aria-describedby="participantIdHelp" [(ngModel)]="this.blockchainService.walletKeys.length" disabled>
				<!--<small id="TrasnsactionHelp" class="form-text text-muted">
						This is the number of pending transaction(s)!
				</small>-->
			</div>
		</div> 
    
		<br>
		<button (click)="createTransaction();" type="submit" class="btn btn-primary">Sign & create transaction!</button>
		&nbsp;&nbsp;&nbsp;
		<button (click)="confirmTransaction();" type="submit" class="btn btn-primary">Sign & confirm receipt!</button>
		&nbsp;&nbsp;&nbsp;
		<button (click)="addUser();" type="submit" class="btn btn-primary">Add User!</button>


</div>