<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    SCM
  </a>

<div>
  <button class="btn btn-outline-light" routerLink="/settings">Settings</button>
  &nbsp;
  <button class="btn btn-outline-light" routerLink="/new/transaction">Create Transaction</button>
  &nbsp;
  <button class="btn btn-outline-light" routerLink="/new/transaction/pending">Unmined Transactions</button>
  &nbsp;
  <button class="btn btn-outline-light" routerLink="/new/product">Product/User Details</button>
</div>
</nav>

<router-outlet></router-outlet>
